<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio - Agricola</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="main-container">
        <h1>Bienvenido a Agricola</h1>
        <p>Información sobre agricultura, eventos, fechas importantes de cosechas, avisos destacados y más.</p>
        <ul>
            <li>Eventos agrícolas</li>
            <li>Fechas de cosechas</li>
            <li>Información del gobierno</li>
            <li>Organizaciones de agricultores</li>
            <li>Publicidad de empresas</li>
            <li>Avisos de arriendo de maquinaria</li>
        </ul>
        <a href="/registro" class="btn">Registrarse</a>
        <a href="/login" class="btn">Iniciar sesión</a>
    </div>
</body>
</html>
